.h5w-tabs-bottom {
	position: relative;
}
.h5w-tabs-bottom .ui-tabs-panel {
	height: 140px;
	overflow: auto;
}
.h5w-tabs-bottom .ui-tabs-nav {
	bottom: 0;
	left: 0;
	padding: 0 0.2em 0.2em 0;
	position: absolute !important;
	right: 0;
}
.h5w-tabs-bottom .ui-tabs-nav li {
	border-bottom-width: 1px;
	border-top: none;
	margin-bottom: 1px !important;
	margin-top: -2px !important;
}
.ui-tabs-selected {
	margin-top: -3px !important;
}
.h5w-main {
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-size: 10px;
	min-width:1000px;
}
.h5w-card {
	height: 50px;
}
.h5w-section {
}
.h5w-group a {
	color: #636363;
	text-decoration: none;
}
.h5w-group {
	float: left;
	height: 50px;
}
.h5w-group-seperator {
	background: #D1D1D1;
	float: left;
	height: 50px;
	margin-left: 5px;
	margin-right: 5px;
	width: 1px;
}
.h5w-group-caption {
}
.h5w-content .h5w-element-selected {
	-webkit-box-shadow: 0px 0px 20px #ffcc00;
	-moz-box-shadow: 0px 0px 20px #ffcc00;
	box-shadow: 0px 0px 20px #ffcc00;
}
.h5w-group:hover .h5w-group-caption {
	color: #707070;
}
.h5w-icon , .h5w-icon-nojs {
	display: block;
	float: left;
	font-weight: bold;
	height: 16px;
	width: 16px;
	text-align:center;
}
.h5w-icon:hover , .h5w-icon-nojs:hover {
	background-color: #ffdc6e;
	border: 1px solid #c29037;
	border-radius: 3px;
	moz-border-radius: 3px;
	webkit-border-radius: 3px;
}
.h5w-style-selection {
width: 500px; 
height: 100%; 
overflow: hidden;
}
.h5w-style-selection .h5w-icon {
	display:block;
	float:left;
	height:48px;
	width:80px; 
	border:1px solid #737373;
	margin-left:8px; 
	text-align:center;  
	overflow:hidden;
	color: #404040;
	padding-left:2px;
	-webkit-box-shadow: inset 0px 0px 60px #fbfcd6;
	-moz-box-shadow: inset 0px 0px 60px #fbfcd6;
	box-shadow: inset 0px 0px 60px #fbfcd6;
}
.h5w-style-selection  .h5w-style-selection-preview {
padding-top:2px;
height: 36px;
}
.h5w-style-selection  .h5w-style-selection-caption {
	font-size:8px; 
	height:9px;
	width:80px;
	color: #616161;
}
.h5w-content, #h5w-id-content , .h5w-texarea, #h5w-textarea-id {
	background: #FFF;
	height: 500px;
	padding: 5px;
	padding-bottom: 30px;
	width:100%;
}
.h5w-picker-area {
	background: #FFF;
	display: none;
	left: 1px;
	position: absolute;
	top: 1px;
	width: 400px;
}
.h5w-font-picker-area {
	background: #FFF;
	display: none;
	left: 1px;
	position: absolute;
	top: 1px;
}
.h5w-fontsize-picker-area {
	background: #FFF;
	display: none;
	left: 1px;
	position: absolute;
	top: 1px;
	width: 400px;
}
.h5w-picker-red, .h5w-picker-green, .h5w-picker-blue , .h5w-picker-opacity {
	clear: left;
	float: left;
	margin: 3px;
	width: 300px;
}
.h5w-picker-swatch {
	background-image: none;
	height: 40px;
	margin-left: 350px;
	margin-top: 2px;
	width: 45px;
}
.h5w-picker-red .ui-slider-range {
	background: #ef2929;
}
.h5w-picker-red .ui-slider-handle {
	border-color: #ef2929;
}
.h5w-picker-green .ui-slider-range {
	background: #8ae234;
}
.h5w-picker-green .ui-slider-handle {
	border-color: #8ae234;
}
.h5w-picker-blue .ui-slider-range{
	background: #729fcf;
}
.h5w-picker-blue .ui-slider-handle {
	border-color: #729fcf;
}
.h5w-picker-opacity .ui-slider-range {
	background: #E6E6E6;
}
.h5w-picker-opacity .ui-slider-handle {
	border-color: #E6E6E6;
}

.h5w-fontsize-picker-size {
	background: #8ae234;
}


.h5w-tablepicker-area {
	background: #FFF;
	display: none;
	left: 1px;
	position: absolute;
	top: 1px;
}
.h5w-table-creator {
	border-collapse: collapse;
}
.h5w-table-creator td, th {
	border: 1px #ccc solid;
}
.h5w-tablepicker-area td {
	height: 10px;
	width: 10px;
}
.h5w-tablepicker-area .hover {
	background-color: #eee;
}
.h5w-tablepicker-area a {
	color: #FFF;
	display: block;
	height: 100%;
	text-decoration: none;
	width: 100%;
}
.h5w-seperator {
	background: url(../img/seperator.png) center 2px no-repeat;
	display: block;
	float: left;
	height: 18px;
	width: 2px;
}
.h5w-picker {
	background: #000;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	float: left;
	height: 16px;
	margin-top: 2px;
	moz-border-radius-bottomright: 5px;
	moz-border-radius-topright: 5px;
	webkit-border-bottom-right-radius: 5px;
	webkit-border-top-right-radius: 5px;
	width: 8px;
}
.h5w-bold {
	background: url(../img/bold.png) center center no-repeat;
}
.h5w-italic {
	background: url(../img/italic.png) center center no-repeat;
}
.h5w-underline {
	background: url(../img/underline.png) center center no-repeat;
}
.h5w-strike {
	background: url(../img/strike.png) center center no-repeat;
}
.h5w-subscript {
	background: url(../img/subscript.png) center center no-repeat;
}
.h5w-superscript {
	background: url(../img/superscript.png) center center no-repeat;
}
.h5w-paragraph {
	background: url(../img/paragraph.png) center center no-repeat;
}
.h5w-listordered {
	background: url(../img/listordered.png) center center no-repeat;
}
.h5w-listunordered {
	background: url(../img/listunordered.png) center center no-repeat;
}
.h5w-hrule {
	background: url(../img/hrule.png) center center no-repeat;
}
.h5w-insertimage {
	background: url(../img/insertimage.png) center center no-repeat;
}
.h5w-undo {
	background: url(../img/undo.png) center center no-repeat;
}
.h5w-redo {
	background: url(../img/redo.png) center center no-repeat;
}
.h5w-selectall {
	background: url(../img/selectall.png) center center no-repeat;
}
.h5w-indent {
	background: url(../img/indent.png) center center no-repeat;
}
.h5w-outdent {
	background: url(../img/outdent.png) center center no-repeat;
}
.h5w-removeformat {
	background: url(../img/removeformat.png) center center no-repeat;
}
.h5w-justifyleft {
	background: url(../img/justifyleft.png) center center no-repeat;
}
.h5w-justifycenter {
	background: url(../img/justifycenter.png) center center no-repeat;
}
.h5w-justifyright {
	background: url(../img/justifyright.png) center center no-repeat;
}
.h5w-fontcolor {
	background: url(../img/font_color.png) center center no-repeat;
}
.h5w-hilitecolor {
	background: url(../img/hilitecolor.png) center center no-repeat;
}
.h5w-paste {
	background: url(../img/paste.png) top center no-repeat;
	height: 45px;
	margin-right: 5px;
	padding-top: 46px;
	text-align: center;
	width: 45px;
}
.h5w-cut {
	background: url(../img/cut.png) center left no-repeat;
	height: 16px;
	margin-top: 4px;
	padding-left: 17px;
	width: 40px;
}
.h5w-copy {
	background: url(../img/copy.png) center left no-repeat;
	height: 16px;
	margin-top: 9px;
	padding-left: 17px;
	width: 40px;
}
.h5w-table {
	background: url(../img/table.png) top center no-repeat;
	height: 45px;
	margin-right: 5px;
	padding-top: 46px;
	text-align: center;
	width: 48px;
}
.h5w-insertimage {
	background: url(../img/insertimage.png) top center no-repeat;
	height: 45px;
	margin-right: 5px;
	padding-top: 46px;
	text-align: center;
	width: 48px;
}
.h5w-createlink {
	background: url(../img/createlink.png) top center no-repeat;
	height: 45px;
	margin-right: 5px;
	padding-top: 46px;
	text-align: center;
	width: 48px;
}
.h5w-unlink {
	background: url(../img/unlink.png) top center no-repeat;
	height: 45px;
	margin-right: 5px;
	padding-top: 46px;
	text-align: center;
	width: 48px;
}
.h5w-fontsize {
	background: #FFF url(../img/fontsize.png) center left no-repeat;
	width: 32px;
	text-align:right;
	padding-right:3px;
	font-size: 12px;
	height:16px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #9C9C9C;
	border-right:none;
}
.h5w-fonttype {
	background: #FFF url(../img/fonttype.png) center left no-repeat;
	width: 120px;
	text-align:right;
	padding-right:3px;
	font-size: 12px;
	height:16px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #9C9C9C;
	border-right:none;
}
.h5w-fontsize-picker  , .h5w-fonttype-picker{
	display: block;
	float: left;
	font-weight: bold;
	height: 16px;
	width: 16px;
	text-align:center;
	background:#FFF;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #9C9C9C;
	border-left:none;
}
.h5w-inserthtml {
	background:none;
	width:120px;
	height:50px;
}
.h5w-inserthtml input, .h5w-inserthtml textarea{
	margin-top:15px;
	width:100px;
}
.h5w-style-inserthtml {
	width: 750px;
	overflow: hidden;
	height:48px;
}
.h5w-font-picker-area  a{
	display:block;
	float:none;
	width:100px;
	height:16px;
	color: #000;
}
.h5w-context-menu {
	background: rgba(226,226,226, 0.85); 
	min-width: 110px; 
	position:absolute; 
	display:none;
	border: 1px solid #ABABAB;
	padding:0px;
}

.h5w-context-menu ul{
	list-style:none;
	padding:0px;
	margin:0px;
}
.h5w-context-menu li {
	line-height: 16px;
	color: #333;
	font-size: 14px;
	padding-left: 10px;
}

.h5w-context-menu {}
.h5w-context-menu ul li:hover {background-color:#F90; position:relative;}
.h5w-context-menu ul ul {display:none; position:absolute; left:110px; top:5px; border:#fff solid; border-width:1px; background: rgba(236,236,236, 0.95);  }
.h5w-context-menu ul li:hover ul {display:block;}
.h5w-context-menu ul ul li { width:200px; float:left; display:inline; border:none;}
.h5w-context-menu ul ul li:hover {text-decoration:underline; border:none;}
.h5w-context-menu li:hover ul li ul {display:none;}
.h5w-context-menu ul ul li ul {left:110px; background-color:#0099CC;}
.h5w-context-menu ul ul li:hover ul {display:block;}

.h5w-context-menu a {
color : #000;
text-decoration: none;
width: 100%;
height: 100%;
display:block;
padding:3px;
padding-left: 17px;
margin:0px;
}
.h5w-context-menu span{
font-size:10px;
padding-left:20px;

}
.h5w-context-menu .h5w-c-delete {background: url(../img/delete.png) center left no-repeat;}
.h5w-context-menu .h5w-c-cut {background: url(../img/cut.png) center left no-repeat;}
.h5w-context-menu .h5w-c-copy {background: url(../img/copy.png) center left no-repeat;}
.h5w-context-menu .h5w-c-paste {background: url(../img/paste_m.png) center left no-repeat;}
.h5w-context-menu .h5w-c-quit {background: url(../img/quit.png) center left no-repeat;}
.h5w-context-menu .h5w-c-attributes {background: url(../img/attributes.png) center left no-repeat;}
.h5w-context-menu .h5w-c-add {background: url(../img/add.png) center left no-repeat;}
.h5w-context-menu .h5w-c-attrx {background: url(../img/options.png) center left no-repeat;}
.h5w-context-menu .h5w-c-options {background: url(../img/optionsx.png) center left no-repeat;}
.h5w-context-menu .h5w-c-seperator {border-top:1px solid #9C9C9C;}